:root {
  --color-light: #ffffff;
  --color-gray: #f8f9f9;
  --color-gray-light: #f2ede7;
  --color-gray-dark: #e2e3e5;
  --color-dark: #212529;
  --color-blue: #007bff;
  --color-orange: #eb5a1e;

  --border-radius: 4px;
  --border-radius-large: 8px;
  --border: 1px solid transparent;

  --padding: 20px;
}

h1 {
  font-size: 56px;
}

body {
  line-height: 1.2;
}

.container {
  max-width: 1110px;
  padding-inline: 15px;
  margin-inline: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: 50px;
}

.header__img {
  display: flex;
  justify-content: center;
}

.header__description {
  font-size: 20px;
}
